
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Urbanist', sans-serif;
}

:root{
    --var-primary-color: #2888E8FF;
}

html{
    font-size: 62.5%;
}

h1,h2,h3,h4,h5{
    font-family: 'Lexend Deca',sans-serif;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 3rem;
}

p{
    font-size: 1.6rem;
    letter-spacing: 0.08rem;
}

button, input[type="submit"]{
    border: .1rem solid #fff;
    outline: none;
    padding: .6rem 1.2rem;
    font-size: 1.7rem;
    text-transform: capitalize;
    letter-spacing: 0.05rem;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
} 


/*now my registeration page styling */
.registration-header{
    height:10vh ;
    width: 100vw;
    background-color: #000;
    /* background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
     url("../../../public/login.jpg");   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */

}

.container{
    height: 10vh;
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    font-size: 2.4rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 1.6rem;
    font-weight: 600;
}

li > a{
    color: #fff;
    text-decoration: none;
} 

main{
    min-height: 80vh;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../../public/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
/* @media screen and(max-width:560px){
    .main {
        flex-direction:column;
    }
} */


.registration, .login{
    min-height: 35rem;
    min-width: 40vw;
    background-color: aquamarine;
}

.grid-two--column{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form-text{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("../../../public/register\ back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 3rem 2rem
}

.form-text p{
    width: 23ch;
    text-align: center;
    margin: 2rem 0 2rem 0;
}

.form-text button{
    color: #000;
    background-color: #fff;
}

.form-text button:hover{
    background-color: transparent;
    color: #fff;
}

.registration-form, .login-form{
    width: 100%;
    min-height: 55vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.registration-form p , .login-form p{
    margin: 1rem 0 .7rem 0;
}

input{
    width: 20rem;
    margin: .3rem 0;
    border: none;
    background-color: #e8e8e8;
    padding: 1rem 1.8rem;
    letter-spacing: .06rem;
}


input[type="submit"]{
    margin-top: 1rem;
    min-width: 10rem;
    background-color: var(--var-primary-color);
    color: #fff;
}

.registration:not(.login-section--display){
    display: none;
}

.login-section--display .registration{
    display: block;
}


.login-section--display .login{
    display: none;
}

@media screen and (max-width: 768px) {
    .grid-two--column{
        grid-template-columns: 1fr;
    }
    
    .registration-header .container{
        flex-direction: column;
        gap: 1rem;
    }

    .registration-header .container .logo{
        padding-top: 2rem;
    }
    
    .registration , .login{
        min-width: 90vw;
    }

    .form-text{
        order: 1;
    }

    .registration, .login{
        order: 0;
    }

    .form-text p{
        width: 23ch;

    }
}



/* footer-section-styling */

.myfooter{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #111;
    width: 100vw;
    position: absolute;
    left: 0;
    right: 0;
}

.footer-brand{
    margin-top: 50px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.footer-brand a{
    color: white;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0.7;
}

.footer-brand a:hover{
    opacity: 1.1;
}

.footer-container{
    padding: 30px 30px 20px;
}

.social-icons{
    display: flex;
    justify-content: center;
}

.social-icons a{
    background-color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
}

.social-icons i{
    font-size: 2em;
    color: #000;
    opacity: 0.9;
}

.social-icons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.social-icons a:hover i{
    color: aliceblue;
    transition: 0.5s;
}

.footer-nav{
    margin: 30px 0;
}

.footer-nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer-nav ul a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footer-nav ul a:hover{
    opacity: 1;
}

.footer-copyright{
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footer-copyright p{
    color: white;
}

@media screen and (max-width:769px) {
    .footer-nav ul{
        flex-direction: column;
    }

    .footer-nav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}